In [1]:
import pandas as pd

# Assignment 0

#### Reading and exploring data

In [2]:
# Reading the athlete_events.csv file
athlete_events = pd.read_csv("data/athlete_events.csv")
athlete_events.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

In [3]:
athlete_events.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 271116 entries, 0 to 271115
Data columns (total 15 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   ID      271116 non-null  int64
 1   Name    271116 non-null  object
 2   Sex     271116 non-null  object
 3   Age     261642 non-null  float64
 4   Height  210945 non-null  float64
 5   Weight  208241 non-null  float64
 6   Team    271116 non-null  object
 7   NOC     271116 non-null  object
 8   Games   271116 non-null  object
 9   Year    271116 non-null  int64
 10  Season  271116 non-null  object
 11  City    271116 non-null  object
 12  Sport   271116 non-null  object
 13  Event   271116 non-null  object
 14  Medal   39783 non-null   object
dtypes: float64(3), int64(2), object(10)
memory usage: 31.0+ MB

In [4]:
# Reading the noc_regions.csv file
noc_regions = pd.read_csv("data/noc_regions.csv")
noc_regions.head()

   NOC       region                 notes
0  AFG  Afghanistan                   NaN
1  AHO      Curacao  Netherlands Antilles
2  ALB      Albania                   NaN
3  ALG      Algeria                   NaN
4  AND      Andorra                   NaN

In [5]:
noc_regions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 230 entries, 0 to 229
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   NOC     230 non-null    object
 1   region  227 non-null    object
 2   notes   21 non-null     object
dtypes: object(3)
memory usage: 5.5+ KB

#### **a)** Hur många är med i datan?

In [6]:
# Counting the countries in the data
count_countries = athlete_events["NOC"].nunique() 

print(f"There are {count_countries} countries in the dataset.")

There are 230 countries in the dataset.

#### **b)** Vilka länder är med? (förkortningarna räcker)

In [7]:
countries_in_dataset = athlete_events["NOC"].unique()

for i in range(1):
    print("The countries in the dataset are: ", end="")  
    for country in countries_in_dataset:
        print(country, end=", ")

The countries in the dataset are: CHN, DEN, NED, USA, FIN, NOR, ROU, EST, FRA, MAR, ESP, EGY, IRI, BUL, ITA, CHA, AZE, SUD, RUS, ARG, CUB, BLR, GRE, CMR, TUR, CHI, MEX, URS, NCA, HUN, NGR, ALG, KUW, BRN, PAK, IRQ, UAR, LIB, QAT, MAS, GER, CAN, IRL, AUS, RSA, ERI, TAN, JOR, TUN, LBA, BEL, DJI, PLE, COM, KAZ, BRU, IND, KSA, SYR, MDV, ETH, UAE, YAR, INA, PHI, SGP, UZB, KGZ, TJK, EUN, JPN, CGO, SUI, BRA, FRG, GDR, MON, ISR, URU, SWE, ISV, SRI, ARM, CIV, KEN, BEN, UKR, GBR, GHA, SOM, LAT, NIG, MLI, AFG, POL, CRC, PAN, GEO, SLO, CRO, GUY, NZL, POR, PAR, ANG, VEN, COL, BAN, PER, ESA, PUR, UGA, HON, ECU, TKM, MRI, SEY, TCH, LUX, MTN, CZE, SKN, TTO, DOM, VIN, JAM, LBR, SUR, NEP, MGL, AUT, PLW, LTU, TOG, NAM, AHO, ISL, ASA, SAM, RWA, DMA, HAI, MLT, CYP, GUI, BIZ, YMD, KOR, THA, BER, ANZ, SCG, SLE, PNG, YEM, IOA, OMA, FIJ, VAN, MDA, YUG, BAH, GUA, SRB, IVB, MOZ, CAF, MAD, MAL, BIH, GUM, CAY, SVK, BAR, GBS, TLS, COD, GAB, SMR, LAO, BOT, ROT, CAM, PRK, SOL, SEN, CPV, CRT, GEQ, BOL, SAA, AND, ANT, ZIM, GRN, HKG, LCA, FSM, MYA, MAW, ZAM, RHO, TPE, STP, MKD, BOH, TGA, LIE, MNE, GAM, COK, ALB, WIF, SWZ, BUR, NBO, BDI, ARU, NRU, VNM, VIE, BHU, MHL, KIR, UNK, TUV, NFL, KOS, SSD, LES,

#### **c)** Vilka sporter är med?

In [11]:
list_of_sports = athlete_events["Sport"].unique()

count = 1
for sport in list_of_sports:
    print(f"{count}: {sport}")
    count +=1

1: Basketball
2: Judo
3: Football
4: Tug-Of-War
5: Speed Skating
6: Cross Country Skiing
7: Athletics
8: Ice Hockey
9: Swimming
10: Badminton
11: Sailing
12: Biathlon
13: Gymnastics
14: Art Competitions
15: Alpine Skiing
16: Handball
17: Weightlifting
18: Wrestling
19: Luge
20: Water Polo
21: Hockey
22: Rowing
23: Bobsleigh
24: Fencing
25: Equestrianism
26: Shooting
27: Boxing
28: Taekwondo
29: Cycling
30: Diving
31: Canoeing
32: Tennis
33: Modern Pentathlon
34: Figure Skating
35: Golf
36: Softball
37: Archery
38: Volleyball
39: Synchronized Swimming
40: Table Tennis
41: Nordic Combined
42: Baseball
43: Rhythmic Gymnastics
44: Freestyle Skiing
45: Rugby Sevens
46: Trampolining
47: Beach Volleyball
48: Triathlon
49: Ski Jumping
50: Curling
51: Snowboarding
52: Rugby
53: Short Track Speed Skating
54: Skeleton
55: Lacrosse
56: Polo
57: Cricket
58: Racquets
59: Motorboating
60: Military Ski Patrol
61: Croquet
62: Jeu De Paume
63: Roque
64: Alpinism
65: Basque Pelota
66: Aeronautics

#### **d)** Vilka medaljtyper finns det?

#### **e)** Ta reda på statistik för åldern: medelvärde, median, min, max, standardavvikelse,

#### **f)** Utforska datan vidare med egna frågor. Se även till att plotta några intressanta features, exempelvis:

#### **g)** Diagram över könsfördelningen

#### **h)** Diagram över topp 10 länder som tagit flest medaljer

#### **i)** Plotta gärna fler saker som är intressant.