In [1]:
import pandas as pd

# Assignment 0

#### Reading and exploring data

In [2]:
# Reading the athlete_events.csv file
athlete_events = pd.read_csv("data/athlete_events.csv")
athlete_events.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

In [3]:
athlete_events.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 271116 entries, 0 to 271115
Data columns (total 15 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   ID      271116 non-null  int64
 1   Name    271116 non-null  object
 2   Sex     271116 non-null  object
 3   Age     261642 non-null  float64
 4   Height  210945 non-null  float64
 5   Weight  208241 non-null  float64
 6   Team    271116 non-null  object
 7   NOC     271116 non-null  object
 8   Games   271116 non-null  object
 9   Year    271116 non-null  int64
 10  Season  271116 non-null  object
 11  City    271116 non-null  object
 12  Sport   271116 non-null  object
 13  Event   271116 non-null  object
 14  Medal   39783 non-null   object
dtypes: float64(3), int64(2), object(10)
memory usage: 31.0+ MB

In [4]:
# Reading the noc_regions.csv file
noc_regions = pd.read_csv("data/noc_regions.csv")
noc_regions.head()

   NOC       region                 notes
0  AFG  Afghanistan                   NaN
1  AHO      Curacao  Netherlands Antilles
2  ALB      Albania                   NaN
3  ALG      Algeria                   NaN
4  AND      Andorra                   NaN

In [5]:
noc_regions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 230 entries, 0 to 229
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   NOC     230 non-null    object
 1   region  227 non-null    object
 2   notes   21 non-null     object
dtypes: object(3)
memory usage: 5.5+ KB

#### **a)** Hur många länder är med i datan?

In [6]:
# Counting the countries in the data
count_countries = athlete_events["NOC"].nunique() 

print(f"There are {count_countries} countries in the dataset.")

There are 230 countries in the dataset.

#### **b)** Vilka länder är med? (förkortningarna räcker)

In [7]:
countries_in_dataset = athlete_events["NOC"].unique()

count = 1
for countries in countries_in_dataset:
    print(f"{count}: {countries}")
    count +=1

1: CHN
2: DEN
3: NED
4: USA
5: FIN
6: NOR
7: ROU
8: EST
9: FRA
10: MAR
11: ESP
12: EGY
13: IRI
14: BUL
15: ITA
16: CHA
17: AZE
18: SUD
19: RUS
20: ARG
21: CUB
22: BLR
23: GRE
24: CMR
25: TUR
26: CHI
27: MEX
28: URS
29: NCA
30: HUN
31: NGR
32: ALG
33: KUW
34: BRN
35: PAK
36: IRQ
37: UAR
38: LIB
39: QAT
40: MAS
41: GER
42: CAN
43: IRL
44: AUS
45: RSA
46: ERI
47: TAN
48: JOR
49: TUN
50: LBA
51: BEL
52: DJI
53: PLE
54: COM
55: KAZ
56: BRU
57: IND
58: KSA
59: SYR
60: MDV
61: ETH
62: UAE
63: YAR
64: INA
65: PHI
66: SGP
67: UZB
68: KGZ
69: TJK
70: EUN
71: JPN
72: CGO
73: SUI
74: BRA
75: FRG
76: GDR
77: MON
78: ISR
79: URU
80: SWE
81: ISV
82: SRI
83: ARM
84: CIV
85: KEN
86: BEN
87: UKR
88: GBR
89: GHA
90: SOM
91: LAT
92: NIG
93: MLI
94: AFG
95: POL
96: CRC
97: PAN
98: GEO
99: SLO
100: CRO
101: GUY
102: NZL
103: POR
104: PAR
105: ANG
106: VEN
107: COL
108: BAN
109: PER
110: ESA
111: PUR
112: UGA
113: HON
114: ECU
115: TKM
116: MRI
117: SEY
118: TCH
119: LUX
120: MTN
121: CZE
122: SKN
123: TTO
124: DOM
125: VIN
126: JAM
127: LBR
128: SUR
129: NEP
130: MGL
131: AUT
132: PLW
133: LTU
134: TOG
135: NAM
136: AHO
137: ISL
138: ASA
139: SAM
140: RWA
141: DMA
142: HAI
143: MLT
144: CYP
145: GUI
146: BIZ
147: YMD
148: KOR
149: THA
150: BER
151: ANZ
152: SCG
153: SLE
154: PNG
155: YEM
156: IOA
157: OMA
158: FIJ
159: VAN
160: MDA
161: YUG
162: BAH
163: GUA
164: SRB
165: IVB
166: MOZ
167: CAF
168: MAD
169: MAL
170: BIH
171: GUM
172: CAY
173: SVK
174: BAR
175: GBS
176: TLS
177: COD
178: GAB
179: SMR
180: LAO
181: BOT
182: ROT
183: CAM
184: PRK
185: SOL
186: SEN
187: CPV
188: CRT
189: GEQ
190: BOL
191: SAA
192: AND
193: ANT
194: ZIM
195: GRN
196: HKG
197: LCA
198: FSM
199: MYA
200: MAW
201: ZAM
202: RHO
203: TPE
204: STP
205: MKD
206: BOH
207: TGA
208: LIE
209: MNE
210: GAM
211: COK
212: ALB
213: WIF
214: SWZ
215: BUR
216: NBO
217: BDI
218: ARU
219: NRU
220: VNM
221: VIE
222: BHU
223: MHL
224: KIR
225: UNK
226: TUV
227: NFL
228: KOS
229: SSD
230: LES

#### **c)** Vilka sporter är med?

In [8]:
list_of_sports = athlete_events["Sport"].unique()

count = 1
for sport in list_of_sports:
    print(f"{count}: {sport}")
    count +=1

1: Basketball
2: Judo
3: Football
4: Tug-Of-War
5: Speed Skating
6: Cross Country Skiing
7: Athletics
8: Ice Hockey
9: Swimming
10: Badminton
11: Sailing
12: Biathlon
13: Gymnastics
14: Art Competitions
15: Alpine Skiing
16: Handball
17: Weightlifting
18: Wrestling
19: Luge
20: Water Polo
21: Hockey
22: Rowing
23: Bobsleigh
24: Fencing
25: Equestrianism
26: Shooting
27: Boxing
28: Taekwondo
29: Cycling
30: Diving
31: Canoeing
32: Tennis
33: Modern Pentathlon
34: Figure Skating
35: Golf
36: Softball
37: Archery
38: Volleyball
39: Synchronized Swimming
40: Table Tennis
41: Nordic Combined
42: Baseball
43: Rhythmic Gymnastics
44: Freestyle Skiing
45: Rugby Sevens
46: Trampolining
47: Beach Volleyball
48: Triathlon
49: Ski Jumping
50: Curling
51: Snowboarding
52: Rugby
53: Short Track Speed Skating
54: Skeleton
55: Lacrosse
56: Polo
57: Cricket
58: Racquets
59: Motorboating
60: Military Ski Patrol
61: Croquet
62: Jeu De Paume
63: Roque
64: Alpinism
65: Basque Pelota
66: Aeronautics

#### **d)** Vilka medaljtyper finns det?

In [9]:
# What types of medals are there?
medals = athlete_events['Medal'].value_counts()

print("Medals: ")
for i in medals.index:
    print(i)

Medals:
Gold
Bronze
Silver

#### **e)** Ta reda på statistik för åldern: medelvärde, median, min, max, standardavvikelse,

In [10]:
# Find statistics for age: mean, median, min, max, standard deviation.
age_os_athletes = athlete_events["Age"]
print(f"The mean age of OS participants is {age_os_athletes.mean():.2f} years.")
print(f"The youngest OS participant is {age_os_athletes.min():.2f} years old.")
print(f"The oldest OS participant is {age_os_athletes.max():.2f} years old.")
print(f"The median age of OS participants is {age_os_athletes.median():.2f} years.")
print(f"The standard deviation of age of OS participants is {age_os_athletes.std():.2f} years.")

The mean age of OS participants is 25.56 years.
The youngest OS participant is 10.00 years old.
The oldest OS participant is 97.00 years old.
The median age of OS participants is 24.00 years.
The standard deviation of age of OS participants is 6.39 years.

#### **f)** Utforska datan vidare med egna frågor. 

- Vilka år är representerade i datan?
- Hur många vinter-OS och sommar-OS har genomförts?
- Hur många deltagare har det varit respektive år?

In [59]:
# What years are represented in the data?

years = sorted(athlete_events['Year'].unique())

print(f"It's {len(years)} different years represented in the data. Ranging from {years[0]} to {years[-1]}. The years represented are:")
print(", ".join(map(str, years)))

It's 35 different years represented in the data. Ranging from 1896 to 2016. The years represented are:
1896, 1900, 1904, 1906, 1908, 1912, 1920, 1924, 1928, 1932, 1936, 1948, 1952, 1956, 1960, 1964, 1968, 1972, 1976, 1980, 1984, 1988, 1992, 1994, 1996, 1998, 2000, 2002, 2004, 2006, 2008, 2010, 2012, 2014, 2016

In [41]:
# How many winter and summer Olympic Games have been carried out during the time period mentioned above?

summer_os = athlete_events.query('Season == "Summer"')['Games'].unique()
winter_os = athlete_events.query('Season == "Winter"')['Games'].unique()

print(f"There have been {len(summer_os)} summer Olympic Games and {len(winter_os)} winter Olympic Games between the years {years[0]}-{years[-1]}.")

There have been 29 summer Olympic Games and 22 winter Olympic Games between the years 1896-2016.

In [77]:
# How many participants have there been each year?

number_of_participants = athlete_events.groupby('Year')['Name'].value_counts()
number_of_participants

Year  Name
1896  Carl Schuhmann               12
      Conrad Helmut Fritz Bcker     7
      Alexander Viggo Jensen        7
      Alfred Flatow                 7
      Gustav Felix Flatow           7
                                   ..
2016  Kim Sei-Young                 1
      Kim Oscar Amb                 1
      Kim Polling                   1
      Kim Sa-Rang                   1
      zzet Safer                    1
Name: count, Length: 187237, dtype: int64

#### Se även till att plotta några intressanta features, exempelvis:

#### **g)** Diagram över könsfördelningen

#### **h)** Diagram över topp 10 länder som tagit flest medaljer

#### **i)** Plotta gärna fler saker som är intressant.